/*****************************************************
    Gallery style sheet - Updated on April 9, 2011
                    DotNetNuke Theme 
*****************************************************/

/**** General Purpose Styles ****/
span.Left, div.Left
{
    float: left;
}

td.Left, p.Left
{
    text-align: left;
}

span.Right, div.Right
{
    float: right;
}

td.Right, p.Right
{
    text-align: right;
}

.Centered, td.Centered *
{
    margin-left: auto;
    margin-right: auto;
}

td.Centered, p.Centered
{
    text-align: center;
}

.Gallery_DropShadow, table.Gallery_Picture
{
    filter: progid:DXImageTransform.Microsoft.Shadow(color='DimGray', Direction=135, Strength=3);
	-moz-box-shadow: 4px 3px 3px #888;
    -webkit-box-shadow: 4px 3px 3px #888;
    box-shadow: 4px 3px 3px #888;
}

.Gallery_Main
{		
}

table.Gallery_Container
{
    border: 0;
    border-collapse:collapse;
    width: 100%;
    table-layout: fixed;		
}

table.Gallery_AdminContainer
{
    border:0;
    border-collapse: collapse;
    width: 800px;
    table-layout: auto;
}

table.Gallery_Border, .Gallery_Border
{	
}

td.Gallery_HeaderCapLeft
{
	background: url('Images/header_cap_left.gif') repeat-y bottom right;
	width: 24px;
	height: 29px;
}

td.Gallery_HeaderCapRight
{	
	background: url('Images/header_cap_right.gif') repeat-y bottom left;
	width: 15px;
}

.Gallery_HeaderImage, .Gallery_Header
{
    background: url('Images/header_bg.gif') repeat-x bottom left;
    vertical-align: middle;
    font-weight: bold;
	font-size: 8pt;	
	color: #ffff66;
	font-family: Tahoma;		
	letter-spacing: 1px;
	background-color: #006699;
}

td.Gallery_HeaderImage
{		
	width: 26px;	
	padding: 0 5px;
}

td.Gallery_HeaderImage img
{
    margin-top: 2px;
}

td.Gallery_Header
{ 
	padding: 0 5px;
}

.Gallery_HeaderText
{
	font-weight: bold;
	font-size: 10pt;
	color: #ffff66;
	font-family: Tahoma;	
	letter-spacing: 0px;
}

span.Gallery_BreadCrumbs
{
    display: inline-block;
    margin-top: 2px;
}

.Gallery_Breadcrumbs a, .Gallery_Breadcrumbs a:link, .Gallery_Breadcrumbs a:visited, .Gallery_Breadcrumbs a:hover
{
    font-weight: normal;
    font-size: 8pt;
    letter-spacing: 0px;
}

.Gallery_Breadcrumbs a:link
{
    color: #ffffff;
}

.Gallery_Breadcrumbs a:visited
{
    color:#ffff66;
}

.Gallery_Breadcrumbs a:hover
{
    text-decoration: underline;
}

span.Gallery_BreadcrumbSeparator
{
    background: url('Images/breadcrumb.gif') no-repeat center center;
    height: 6px;
    width: 6px;
}

td.Gallery_AltHeaderCapLeft, .Gallery_AltHeaderCapLeft
{	
	background: url('Images/row_cap_left.gif') repeat-y top right;
	padding-left: 5px;
	height: 28px;
}

.Gallery_AltHeaderImage, .Gallery_AltHeader
{	
	background: url('Images/alt_header_bg.gif') repeat-x top left;		
    font-weight: bold;
	font-size: 8pt;
	color: #cc6600;			
	font-family: Tahoma;
	letter-spacing: 0px;
	vertical-align: middle;
}

td.Gallery_AltHeaderImage
{	
	width: 26px;
	padding: 0 5px;		
}

td.Gallery_AltHeader, .Gallery_AltHeader
{
    color: #ffffff;
    padding: 0 5px;
    
}

td.Gallery_AltHeaderCapRight
{	
	background: url('Images/row_cap_right.gif') repeat-y top left;	
}

span.Gallery_Pager
{
    height: 20px;
    margin-top: 3px;
    padding-left: 5px;
    padding-right: 6px;
    float: left;
    white-space: nowrap;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.Gallery_Normal, .Gallery_ViewSortOptions
{
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
    color: black;
}

span.Gallery_ViewSortOptions
{
    height: 20px;
    padding-right: 6px;
    float: right;
    white-space: nowrap;
}

span.Gallery_ViewSortOptions input
{  
     vertical-align: top;
}

.Gallery_NormalGrey
{
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
    color: #999999; 
}

.Gallery_AltHeaderText, Gallery_Title
{
	font-weight: bold;
	font-size: 8pt;	
	color: black;
	font-family: Tahoma;
	letter-spacing: 0px;
}

span.Gallery_AltHeaderText, td.Gallery_AltHeaderText
{
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

td.Gallery_RowCapLeft
{	
	background: url('Images/row_cap_left.gif') repeat-y top right;
}

td.Gallery_RowCapRight
{
	background: url('Images/row_cap_right.gif') repeat-y top left;
}

td.Gallery_RowBorderLeft
{	
	background: url('Images/row_image_left.gif') repeat-y top right;	
	border-bottom: #999999 1px solid;	
}

td.Gallery_RowImage
{		
	border-right: #999999 1px solid;
	border-top: white 1px solid;	
	border-left: white 1px solid;
	border-bottom: #999999 1px solid;	
	background-color: #ececec;	
	width: 26px;
	padding-left: 3px;
	padding-bottom: 3px;
}

.Gallery_Row
{		   
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
}

td.Gallery_Row
{
    background-color: #eef3fb;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;	
}

span.Gallery_Stats
{
    height: 20px;
    margin-top: 3px;
    padding-left: 4px;
    padding-right: 6px;
    float: right;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    color: #a4a5a6;
}

.Gallery_Stats>span
{
    vertical-align: top;
}

TD.Gallery_FooterCapLeft
{	
	background: url('Images/row_cap_left.gif') repeat-y top right;
	height: 34px;
	padding: 0;
}

TD.Gallery_FooterCapRight
{	
	background: url('Images/row_cap_right.gif') repeat-y top left;
	padding: 0;
}

.Gallery_FooterImage, .Gallery_Footer
{	
	background: url('Images/footer_bg.gif') repeat-x top;	
	font-weight: bold;
	font-size: 8pt;	
	color: #ffff66;
	font-family: Tahoma;
	letter-spacing: 1px;
	vertical-align: middle; 
}

td.Gallery_FooterImage
{
    width: 26px;
    padding-left: 5px;
}

td.Gallery_Footer
{
	padding-right: 5px;	
}

.Gallery_FooterText
{
	font-weight: bold;
	font-size: 8pt;
	color: #a4a5a6;
	font-family: Tahoma;
	letter-spacing: 0px;
}

td.Gallery_BottomPanelCapLeft
{	
	background: url('Images/bottom_panel_cap_left.gif') repeat-y top right;	
	padding: 0;
}

TD.Gallery_BottomPanelCapRight
{	
	background: url('Images/bottom_panel_cap_right.gif') repeat-y bottom left;	
	padding: 0;
}

TD.Gallery_BottomPanel, .Gallery_BottomPanel 
{
	padding-left: 0; padding-top: 12px; padding-bottom: 0;
}

TD.Gallery_BottomCapLeft
{
   background: url('Images/bottom_cap_left.gif') no-repeat top right;
   height: 13px;
}

TD.Gallery_Bottom
{		
    background: url('Images/bottom_bg.gif') repeat-x top left;
    width: 100%;
}

TD.Gallery_BottomCapRight
{
    background: url('Images/bottom_cap_right.gif') no-repeat top left;
}

/**** Styles Used In Various Management Controls ****/

td.Gallery_BodyCapLeft, TD.Gallery_BodyCapRight
{	
	background: url('Images/alt_body_cap_right.gif') no-repeat bottom left;		
	padding-left: 0;	
}

.Gallery_SubHeader, .Gallery_SectionHeader, .Gallery_RecordedVotes
{
    font-weight: bold;
	font-size: 8pt;	
	color: #4455aa;
	font-family: Verdana;
	background-color: #ececec;
}

td.Gallery_SubHeaderImage
{		
}

td.Gallery_Error
{
    text-align: center;    
    height: 100px;
    vertical-align: middle;
}

td.Gallery_Body, .Gallery_Body
{	
	font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
	background-color: #eef3fb;
	padding-left: 3px; padding-right: 3px; padding-top: 3px; padding-bottom: 3px;
}

.Gallery_RowHighLight, .Gallery_ListItemProperty
{		
	font-weight: normal;
	font-size: 11px;	
	font-family: Verdana;
	letter-spacing: 0; 	
}

td.Gallery_RowHighlight
{			
	background-color: #ececec;
	padding-left: 5px; padding-right: 5px; padding-top: 3px; padding-bottom: 3px;
}

.Gallery_RowHeader, .Gallery_RowPanel, .Gallery_ListItemHeader
{
	color: #003366;		
	font-family: Verdana;
    font-size: 11px;
    font-weight: normal;	
}

td.Gallery_RowHeader, td.Gallery_ListItemHeader
{
	border-bottom: #999999 1px solid;
	border-right: #666666 1px solid;
	background: #eef3fb; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#eef3fb, EndColorStr=#308ebe);	/* For IE */
	background: -webkit-gradient(linear, 0% 100%, 100% 100%, from(#eef3fb), to(#308ebe));  /* For Webkit (Safari, Chrome) */
	background: -moz-linear-gradient(left,  #eef3fb,  #308ebe); /* For Firefox 3.6+ */ 
}

.Gallery_RowPanel, .Gallery_AdminRowPanel, .Gallery_AdminRow, .Gallery_ListItemLeftPanel, .Gallery_ListItemValue
{	
	border-right: #999999 1px solid;
	border-top: white 1px solid;	
	border-left: white 1px solid;
	border-bottom: #999999 1px solid;	
	background-color: #ececec;	
}

table.Gallery_AdminSection
{
    border-collapse: collapse;
    width: 100%;
}

td.Gallery_AdminSection
{
    padding: 4px
}

td.Gallery_SectionHeader
{
    padding-bottom: 6px;   
}

td.Gallery_Section
{
    background-color: #ececec;
    padding-left: 20px;
    padding-bottom: 4px;
    width: 220px;
}

td.Gallery_RowPanel, td.Gallery_AdminRowPanel
{
    height: 24px;
    text-align: left;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.Gallery_AdminRowPanel
{
    text-align: right;
    width: 180px;
}

td.Gallery_AdminRowPanel.TopAlign
{
    vertical-align: top;
    padding-top: 8px;
}

td.Gallery_AdminRow
{
    text-align: left;
    padding-left: 5px;
    padding-right: 2px;   
}

td.Gallery_AdminRow img
{
    margin-bottom: -4px;
}

td.Gallery_AdminRow>input, td.Gallery_AdminRow>Table, td.Gallery_AdminRow>textarea
{
    width: 98%;
}

td.Gallery_AdminRow input.Width50PC
{
    width: 65%;
}

td.Gallery_AdminRow>input[type="file"]
{
    width: 400px;
    margin-right: 10px;
    background-color: white;
}

td.Gallery_FileEditImage
{
    vertical-align:top;
    text-align: center;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

td.Gallery_FileEditImage>*
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

span.Gallery_Commands
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
}

td.Gallery_ListCell
{
	background-color: White;
	border-style: solid;
	border-color:#6699cc;
	border-width:1px 1px 1px;
	font-family: Verdana;
    font-size: 12px;
    font-weight: normal;    
}

/**** Styles Used in Gallery (Thumbnail) Displays ****/

table.Gallery_Content_Standard, table.Gallery_Content_Card, table.Gallery_Content_List
{
  width: 100%;
  border: 0;
  padding: 0;
}

table.Gallery_Content_Standard
{
    border-collapse: collapse;
}

table.Gallery_Content_Card
{
    border-collapse: separate;
    margin-top: -4px;
    margin-bottom: 0;
}

table.Gallery_Content_List
{   
}

td.Gallery_StandardCell
{
    vertical-align:top;
}

td.Gallery_CardCell
{
    background: #efefef;
    padding-top: 10px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 4px;
    vertical-align: top;
}

td.Gallery_ListCell
{
    width: 100%;
    padding: 0;
}

table.Gallery_Standard
{
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
}

table.Gallery_Album
{
    margin-top: 0;
    margin-bottom: 0;
    border-collapse: collapse;
}

.Gallery_ListItem table.Gallery_Album
{
    margin-top: 10px;
}

td.Gallery_AlbumEmpty
{   width:95%;
    height:50px;
    vertical-align: middle;
    text-align:center;
}

td.Gallery_AlbumTL
{
	background: url('Images/album_top_left.gif') no-repeat bottom right;
	padding: 0;
}

td.Gallery_AlbumTC
{		
	background: url('Images/album_top_center.gif') repeat-x bottom left;	
	padding: 0;
}

td.Gallery_AlbumTR
{
	background: url('Images/album_top_right.gif') no-repeat  bottom left;	
	padding: 0;
}

td.Gallery_AlbumML
{
	background: url('Images/album_middle_left.gif') repeat-y top right;
	padding: 0;	
}

td.Gallery_AlbumMC
{
	background-color:#D8E5F9;
	border-top: 1px #EEF3FB solid;
	border-left: 1px #EEF3FB solid;	
	border-right: 1px #C2D8F9 solid;
	border-bottom: 1px #C2D8F9 solid;
	text-align: center;
}

td.Gallery_AlbumMR
{
	background: url('Images/album_middle_right.gif') repeat-y top left;
	padding: 0;	
}

td.Gallery_AlbumBL
{
	background: url('Images/album_bottom_left.gif') no-repeat top right;	
	padding: 0;
}

td.Gallery_AlbumBC
{
	background: url('Images/album_bottom_center.gif') repeat-x top;	
	padding: 0;
}

td.Gallery_AlbumBR
{
	background: url('Images/album_bottom_right.gif') no-repeat top left;	
	padding: 0;	
}

table.Gallery_File
{
    margin-top: 4px;
    margin-bottom: 4px;
    border-collapse: collapse;
 }

td.Gallery_FileTL
{
	background: url('Images/frame_top_left.gif') no-repeat bottom right;
	height: 10px;
	width:10px;
	padding: 0;
}

td.Gallery_FileTC
{		
	background: url('Images/frame_top_center.gif') repeat-x bottom left;
	height: 10px;		
	padding: 0;
}

td.Gallery_FileTR
{
	background: url('Images/frame_top_right.gif') no-repeat  bottom left;
	height:10px;
	width:10px;	
	padding: 0;
}

td.Gallery_FileML
{
	background: url('Images/frame_middle_left.gif') repeat-y top right;
	width: 10px;
	padding: 0;	
}

td.Gallery_FileMC
{
	background-color: #efefef;
	padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
	text-align: center;	
}

TD.Gallery_FileMR
{
	background: url('Images/frame_middle_right.gif') repeat-y top left;
	width: 10px;
	padding: 0;	
}

TD.Gallery_FileBL
{
	background: url('Images/frame_bottom_left.gif') no-repeat top right;
	width: 10px;
	height: 10px;	
	padding: 0;
}

TD.Gallery_FileBC
{
	background: url('Images/frame_bottom_center.gif') repeat-x top;	
	height: 10px;
	padding: 0;
}

TD.Gallery_FileBR
{
	background: url('Images/frame_bottom_right.gif') no-repeat top left;
	width: 10px;
	height:10px;	
	padding: 0;	
}

/**** Styles for Card View ****/

table.Gallery_Card
{
    width: 100%;
    height: 100%;
    table-layout: auto;
    margin: 0;
    padding: 0;
}

td.Gallery_CardLeft
{
    vertical-align: top;
    width: 50%;
}

td.Gallery_CardRight
{
    vertical-align: top;
    width: 50%;
}

.Gallery_CardHighlight
{		
	font-weight: normal;
	font-size: 11px;	
	font-family: Verdana;
	letter-spacing: 0; 	
}

td.Gallery_CardHighlight
{			
	background-color: #ececec;
	padding-top: 3px;
	padding-right: 2px;
    padding-bottom: 3px;
    padding-left: 2px;
}

.Gallery_CardHeader, .Gallery_CardPanel
{
	color: #404040;		
	font-family: Verdana;
    font-size: 11px;
    font-weight: normal;	
}

td.Gallery_CardHeader
{
	border-bottom: #999999 1px solid;
	padding-top: 2px;		
	background: #eef3fb; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#eef3fb, EndColorStr=#308ebe);	/* For IE */
	background: -webkit-gradient(linear, 0% 100%, 100% 100%, from(#eef3fb), to(#308ebe));  /* For Webkit (Safari, Chrome) */
	background: -moz-linear-gradient(left,  #eef3fb,  #308ebe); /* For Firefox 3.6+ */ 
}

.Gallery_CardHeaderText
{
	font-weight: bold;
	font-size: 8pt;	
	color: #ffff66;
	font-family: Tahoma;
	letter-spacing: 0px;
}

a.Gallery_CardHeaderText
{
    vertical-align: top;
}

/**** Styles Used In ListView ****/

table.Gallery_ListItem
{
    border-collapse: separate;
    width: 100%;
}

table.Gallery_ListItemHeader
{
    vertical-align: middle;
    width: 100%;
}

td.Gallery_ListItemHeader>table
{
    width: 100%;
}

td.Gallery_ListItemHeader img
{
    margin-right: 8px;
}

td.Gallery_ListItemTitle
{
    text-align: left;
    white-space: nowrap;
}

td.Gallery_ListItemCommands
{
    text-align: right;
    white-space: nowrap;
}

div.Gallery_ListItemPanel
{
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 100%;
}

div.Gallery_ListItemLeftPanel
{
    vertical-align: top;
    float:left;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;    
}

table.Gallery_ListItemInfo
{
    vertical-align: top;
    border-collapse: separate;
    border-top: 1px solid white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    table-layout: auto;
    margin: 0;
    padding: 0;
}

td.Gallery_ListItemProperty
{
    text-align: right;
    width: 120px !important;
    white-space: nowrap;
    height: 20px;
    padding-right: 5px;
}

td.Gallery_ListItemValue
{
    text-align: left;
    height: 20px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

td.Gallery_Image, .Gallery_Image
{
    text-align: center;
}

.Gallery_Vote
{
    height: 24px;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

p.Gallery_Vote
{
    margin-bottom: 0;
}

.Gallery_Title
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

.Gallery_NormalGrey, .Gallery_Info, .Gallery_Description
{
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.5em;
    color: #999999;
}

.Gallery_Description
{
    font-style: italic;
}

td.Gallery_Info
{
   text-align: center;
}

p.Gallery_Info
{
    margin-left: 4px;
    margin-top: 0;
    text-align: center;
}

.Gallery_Info span.MediaName
{
    font-weight: bold;
}

p.Gallery_Info span.MediaName
{
    font-weight: bold;
}

.Gallery_Info span.MediaSize
{
    font-weight: normal;
}

p.Gallery_Info span.MediaSize
{
    font-weight: normal;
}

td.Gallery_Info span.Legend
{
    font-weight: bold;
    padding-right: 2px;
}

td.Gallery_Info span.Field
{
    font-weight: normal;
}

p.Gallery_Info span.Legend
{
    font-weight: bold;
    padding-right: 0;
    text-align: right;
    float:right;
    clear:both;
}

p.Gallery_Info span.Field
{
    font-weight: normal;
    padding-right: 0;
    text-align: right;
    float: right;
    clear: both;
}

td.Gallery_Description
{
    text-align: center;
    padding-top: 3px;
    width: 80%;
}

p.Gallery_Description
{
    margin-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
}

/**** Gallery Context Menu ****/

.GalleryMenu_IconButton {
	cursor: hand; 
	height: 22px;
	width: 22px;
}

.GalleryMenu_MenuBar {	
	cursor: hand;
	height: 16px;
	background-color: Transparent;	
}

.GalleryMenu_MenuItem {
	cursor: hand; 
	color: #003366; 
	font-family: Tahoma, Arial, Helvetica; 
	font-size: 7pt; 
	font-weight: bold; 
	font-style: normal; 
	border: 0;
}

.GalleryMenu_MenuItem td
{
    padding-right: 5px;
}

.GalleryMenu_MenuItem td span {
    white-space: nowrap;
}

.GalleryMenu_MenuIcon {
	cursor: hand; 
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 22px; 
	height: 22px;
	padding-left: 4px;
	padding-right: 0;
}

.GalleryMenu_SubMenu {
	z-index: 1000; 
	text-align: left;	
	cursor: hand; 
	background-color: #eef3fb; 	
	border: 2px solid white;
	padding-right: 4px;
	margin-left: 5px;
}
.GalleryMenu_MenuBreak {
	border: 0;	 
	height: 6px;
}

.GalleryMenu_MenuItemSel {
	background-color: #dddddd; 
	cursor: hand; 
	color: black; 
	font-family: Tahoma, Arial, Helvetica; 
	font-size: 7pt; 
	font-weight: normal; 
	font-style: normal;
	white-space: nowrap;
}

/* Gallery Media Menu */

.MediaMenu_Thumbnail {
	cursor: hand; 
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.MediaMenu_Thumbnail>img
{
    margin-left: auto !important;
    margin-top: 2px;
    margin-right: auto !important;
    margin-bottom: 2px !important;
    padding-top: 1px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 1px;
}

.MediaMenu_MenuItem 
{
    cursor: hand; 
	color: #003366; 
	font-family: Tahoma, Arial, Helvetica; 
	font-size: 7pt; 
	font-weight: bold; 
	font-style: normal; 
	border: 0;
}

.MediaMenu_MenuItem td
{
    padding-right: 5px;
}

.MediaMenu_MenuItem td span {
    white-space: nowrap;
}

.MediaMenu_MenuIcon 
{
    cursor: hand; 
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 22px; 
	height: 22px;
	padding-left: 4px;
	padding-right: 0;
}

.MediaMenu_SubMenu 
{
    background-color: #eef3fb;
    z-index: 1000; 
	text-align: left;	
	cursor: hand; 
	border: 2px solid white;
	padding-right: 4px;
}

.MediaMenu_MenuItemSel 
{
    background-color: #dddddd; 
	cursor: hand; 
	color: black; 
	font-family: Tahoma, Arial, Helvetica; 
	font-size: 7pt; 
	font-weight: normal; 
	font-style: normal;
	white-space: nowrap;	
}

/*** Styles Used By Gallery Exif, FlashPlayer, MediaPlayer, Viewer and Slidehow Controls ****/

table.Gallery_ViewControl
{
    border-collapse: collapse;
}

table.Gallery_Viewer
{  
}

table.Gallery_FlashPlayer
{
}

table.Gallery_MediaPlayer
{
}

table.Gallery_SlideShow
{
}

.Gallery_Voting
{
    width: 100%;
    border-collapse: collapse;
}

.Gallery_Voting table
{
    width: 100%;
    border-collapse: separate;
}

td.Gallery_RecordedVotes
{
    padding: 10px;
}    

.Gallery_RecordedVote
{
    width: 90%;
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 4px
}

.Gallery_Voting input[type=radio] + label > img
{
    margin-bottom: 0px;
    padding-bottom: 2px;
}

.Gallery_Comment
{
    font-family: Tahoma, Arial, Helvetica; 
	font-size: 8pt; 
	font-weight: normal; 
	font-style: italic;
	text-align: left;
}

.Gallery_Voting td.Gallery_AdminRowPanel
{
    width: 220px;
}

.Gallery_Exif
{
    width:95%;
    margin-top: 5px; 
}

table.Gallery_ExifGrid, table.Gallery_Grid, table.Gallery_DetailsGrid
{
    border-collapse: collapse;
    empty-cells:show;
    margin-top: 5px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
}

.Gallery_GridHeader td, .Gallery_GridItem td
{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.Gallery_GridHeader td
{
    height: 28px;
    background-color: #D9D9D9;
	background: url('Images/header_bg.gif') repeat-x top;
    font-weight: bold;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white;
}

.Left.Gallery_GridHeader td, .Gallery_GridHeader td.Left, .Left.Gallery_GridItem td, .Gallery_GridItem td.Left
{
    text-align: left;
}

.Centered.Gallery_GridHeader td, .Gallery_GridHeader td.Centered, .Centered.Gallery_GridItem td, .Gallery_GridItem td.Centered
{
    text-align: center;
}

.Right.Gallery_GridHeader td, .Gallery_GridHeader td.Right, .Right.Gallery_GridItem td, .Gallery_GridItem td.Right
{
    text-align: right;
}

.Gallery_DetailsGrid .Gallery_GridHeader td
{
    background-image: none;
}

.Gallery_GridItem td
{
    height: 25px;
    background-color: #efefef;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    color: Black;
}

table.Gallery_ExifGrid .Gallery_GridHeader td:first-child
{
    text-align: center;    
}

table.Gallery_ExifGird .Gallery_GridItem td:first-child
{
    white-space: nowrap;
}

hr
{
	height: 1px;
	color: #D0D0D0;
}

td.Gallery_Toolbar
{
    text-align: center;
    height: 25px;
    padding-top: 6px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
}

.Gallery_BackButton {
    width: 80px;
    height: 30px;
    margin-top: 3px;
    border: none;
    color: White;
    font-size: 8pt;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 4px;
    background: url('images/m_Back.gif') no-repeat center center;
}

/* Remove border from toolbar icons when img elements rendered in ASP.Net 4.0 */

td.Gallery_Toolbar img 
{
    border-width: 0
}

td.Gallery_Toolbar a
{
    margin-left: 4px;
    margin-right: 4px;
}

/**** Styles Used In Viewer/Image Editor ****/

table.Gallery_Picture
{
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

td.Gallery_PictureTL
{
	background: url('Images/picture_top_left.gif') no-repeat bottom right;
	width: 28px;
	height: 29px;
	padding: 0;
}

td.Gallery_PictureTC
{		
	background: url('Images/picture_top_center.gif') repeat-x bottom left;	
	height: 29px;
	padding: 0;
}

td.Gallery_PictureTR
{
	background: url('Images/picture_top_right.gif') no-repeat  bottom left;	
	width: 26px;
	height: 29px;
	padding: 0;
}

td.Gallery_PictureML
{
	background: url('Images/picture_middle_left.gif') repeat-y top right;
	width: 28px;
	padding: 0;	
}

td.Gallery_PictureMC
{
	background-color: #eef3fb;
	padding: 0;
}

td.Gallery_PictureMC img
{
    border: 0;
}

td.Gallery_PictureMR
{
	background: url('Images/picture_middle_right.gif') repeat-y top left;
	width: 26px;
	padding: 0;	
}

td.Gallery_PictureBL
{
	background: url('Images/picture_bottom_left.gif') no-repeat top right;	
	width:28px;
	height: 29px;
	padding: 0;
}

td.Gallery_PictureBC
{
	background: url('Images/picture_bottom_center.gif') repeat-x top;	
	height: 29px;
	padding: 0;
}

td.Gallery_PictureBR
{
	background: url('Images/picture_bottom_right.gif') no-repeat top left;	
	width: 26px;
	height: 29px;
	padding: 0;	
}
